@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background: #2e2e2e;
}

html {
    scroll-behavior: smooth;
    scroll-padding: 7vh;
}

section {
    height: 92vh;
}

h1,
h2,
h3 {
    font-family: 'Source Code Pro';
}

p {
    font-family: 'Inter';
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.container {
    width: 90%;
    margin: auto;
    max-width: 1200px;
    min-width: 500px;   
}

/*navbar styling*/

.nav {
    font-size: 1.8rem;
    position: sticky;
    top: 0;
    height: 7vh;
    font-family: 'Josefin Sans';
    font-weight: 450;
    letter-spacing: .13rem;
}

.nav__list {
    justify-content: space-between;
    align-items: center;
}

.nav__right {
    gap: 1.8rem;
}

.nav__link {
    text-decoration: none;
}

.nav__link:hover {
    opacity: 0.5;
    transition: opacity .6s;
}

/*Hero styling*/

.hero__grid {
    grid-template-columns: 40% 60%;
    grid-template-rows: 50% 50%;
    height: 100%;
}

.hero__text {
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.hero__article {
    text-align: center;
    font-style: italic;
}
.hero__img {
    background: linear-gradient(),
                url(../assets/profile_pic_crop.jpg);
    background-size: cover;
    background-position: top;
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    border-radius: 10%;
}

