* {
    box-sizing: border-box;
}

body {
    background-color: #f1f4f0;
    margin: 0px 0px;
    max-width: 900px;
    margin: 0 auto;
}

.container {
}

.container nav {
    display: flex;
    font-size: 1.2em;
    align-items: flex-start;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.left-item {
    margin-right: auto;
    margin-top: 1rem;
    padding-left: 1rem;
}

.container nav ul {
    display: flex;
    list-style: none;
    margin-top: 1rem;
} 

.container nav ul li {
    padding-right: 1.8rem;
    align-items: flex-start;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    opacity: 20%;
}

/*Hero section styling*/
#hero-header {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 1rem;
    padding: 1rem;
}

.img-container {
    flex: 1 1 30%;
    max-width: 250px;
    min-width: 150px;
}

#hero-header img {
    width: 100%;
    border-radius: 0.7em;
    object-fit: cover;
}

.text-container {
    flex: 1 1 60%;
    text-align: center;
    letter-spacing: 0.2em;
    padding: 1rem;
}

@media (max-width: 768px) {
    #hero-header {
        flex-direction: column;
        align-items: center;
    }

    .img-container {
        flex: 1 1 100%;
        max-width: 70%;
    }

    .text-container {
        flex: 1 1 100%;
        padding-left: 10%;
    }
}

.project-container {
    display: flex;
    flex-direction: column;
}

.project-container h1 {
    margin-left: auto;
    padding-right: 1.8rem;
    opacity: 80%;
    text-decoration: underline solid darkgray;
}

#projects-row {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 2em
}

.project-card {
    width: 30%;
    border: solid grey;
    border-radius: 1em;
    padding: 1em;
    align-content: center;
}

.project-container a {
    margin-left: auto;
    margin-right: 1.8rem;
    margin-top: 1.8rem;
    font-style: italic;
    font-size: 1.3rem;
}