@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #faf3e0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    color: #2e2e2e;
}

.container {
    width: 90%;
    margin: auto;
    padding-top: 1rem;
    min-width: 500px;
    max-width: 1200px;
}

.flex-row {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #2e2e2e;
    transition: 500ms;
}

a:hover {
    opacity: 0.6;
}

h1 {
    font-size: 6vw;
    font-weight: 350;
}

/*Styling of the sections*/

.nav {
    padding: 1.5rem 0 1rem 0;
    position: sticky;
    top: 0;
    background-color: transparent;
    height: 7vh;
}

.nav__primary {
    margin-right: auto;
}

.nav__secondary {
    margin-left: 4rem;
    gap: 3rem;
}

.nav__item {
    list-style: none;
    font-size: 1.6rem;
    font-weight: 650;
}

.hero {
    height: 93vh;
}

.hero__heading {
    line-height: 1.7em;
}

.hero__heading--name {
    font-size: 8vw;
    margin-bottom: 2rem;
}

.hero__container {
    margin-top: 3rem;
}

.hero__footer {
    justify-content: space-between;
    gap: 3%;
    height: 10vh;
}

.footer-heading {
    margin-right: auto;
    font-weight: 350;
    font-size: 3rem;
}

.footer-subheading {
    font-weight: 300;
}

.footer-text {
    font-weight: 300;
}

.projects {
    background-color: #2e2e2e;
    height: 78vh;
    color: #faf3e0;
}

.projects__cards {
    flex-wrap: wrap;
    gap: 3%;
}

.card {
    border: solid 2px;
    width: 30%;
    padding: 1rem;
    box-shadow: 2px 2px;
    opacity: .2;
    margin-top: 2rem;
}

.card:hover {
    opacity: 1;
    transition: 500ms;
}


@media (min-width: 1200px) {
    .hero__heading {
        font-size: 4.5rem;
    }

    .hero__heading--name {
        font-size: 6.07rem;
    }
}